/* Responsive */
@media screen and (max-width: 1010px) {
  .searchbar,
  .subbtn {
    display: none;
  }

  .toggle {
    display: flex;
  }

  .navlist {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    height: 400px;
    display: none;
  }

  .navlist ul {
    margin-top: 30px;
    width: 250px;
    flex-direction: column;
  }

  .body .navlist {
    background-color: #1c2845;
  }

  body::after {
    display: none;
  }

  .bioimg::before {
    display: none;
  }

  .biosec {
    flex-direction: column;
  }

  .bio {
    padding: 0 30px;
  }

  .bioimg {
    width: 70%;
  }

  .bio p {
    width: 100%;
  }

  .emailsub {
    width: 100%;
  }

  .hottopicssec {
    flex-direction: column;
    align-items: center;
    height: 450px;
    margin: 20px;
  }

  .hotcards {
    width: 100%;
  }

  .bigtitle {
    padding: 0 20px;
  }

  .rightshadowimg::after {
    display: none;
  }

  .editorcards {
    padding: 20px;
  }

  .edcard:nth-child(1),
  .edcard:nth-child(2),
  .edcard:nth-child(3),
  .edcard:nth-child(4),
  .edcard:nth-child(5) {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  .leftshadowimg::after {
    display: none;
  }

  .tegsec {
    padding: 10px 20px;
  }

  .tegsec a {
    width: 40%;
  }

  .recentpostsec {
    flex-direction: column;
  }

  .posts {
    padding: 20px;
  }

  .post {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .post a,
  .post a img {
    width: 100%;
    height: 100%;
  }

  .postdetails {
    padding: 10px 0;
  }

  .postslider {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }
  .footer {
    margin: 10px 20px;
  }
  footer {
    padding: 30px;
  }

  .footersec {
    flex-direction: column;
  }

  .themeauthor {
    flex-direction: column;
  }

  .createdby {
    margin: 10px 0;
  }
}

@media screen and (max-width: 430px) {
  .social {
    flex-direction: column;
  }
  .createdby {
    text-align: center;
  }
  .logofooter p {
    width: 100%;
  }
  .bio h1 {
    font-size: 30px;
  }
}

/* Dark mode */
.body {
  background-color: #0f172a;
  transition: 0.5s all;
}

.body #header.scrolled {
  background-color: #1c2845;
}

.body .logo h1 {
  color: #c9d4e4;
}

.body .bio h1 {
  color: #e6f0ff;
}

.body .emailsub {
  background: #1c2845;
}

.body .bio form input {
  color: #fff;
}

.body .hottopicssec {
  background-color: #1c2845;
  border: 1px solid #222f43;
}

.body .hottopics h3 {
  color: #b9e0f2;
}

.body .edcard {
  background-color: #131c31;
  border: 1px solid #222f43;
}

.body .edcarddetl a h2 {
  color: #b9e0f2;
}

.body .authorname h4 {
  color: #66768f;
}

.body .authorname span {
  color: #66768f;
}

.body .readmore::before {
  background-color: #e5dede15;
}

.body .tegsec a {
  background-color: #0062ff1a;
  border: 1px solid #393957;
  color: #99a5b9;
}

.body .tegsec a:hover {
  border: 1px solid rgba(0, 255, 255, 0.688);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.305);
}

.body .postlabel a {
  background-color: #214b89b0;
  color: #fff;
}

.body .postdetails h2 {
  color: #b9e0f2;
}

.body .popularposts {
  background-color: #1c2845;
  border: 1px solid #495d7a;
}

.body .popupostde h4 {
  color: #b9e0f2;
}

.body .popupostde {
  border-bottom: 1px solid #304058;
}

.body .comment p {
  font-size: 14px;
  color: #9badc9;
}

.body footer {
  background-color: #12233f;
  border-color: #203b62;
}

.body .logof a h1,
.body .categoriesfooter h3,
.body .newsletterfooter h3,
.body .newsletterfooter form input,
.body .logofooter h4 {
  color: #b9e0f2;
}

.body .footersec p,
.body .footersec li a {
  color: #94a9c9;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
